.announcements-header{
    margin-top: 40px;
    text-align: center;
    position: relative;
    color: white;
    color: rgb(0, 0, 49);
    border: 5px solid rgb(21, 121, 21);
    background-color: white;
}

.announcements-subheader{
    border-bottom: 4px solid rgb(21, 121, 21);
    text-align: center;
    margin-top: 40px;
}