<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../static/js/script.js" defer></script>
</head>
<body style="background-color: rgb(228, 228, 228);">
        <!--                                NAVBAR                                                                         -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white d-flex justify-content-between border-navy">
        <div class="d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="#"><img src="../static/images/logo.png" class="logo"></a>
            <div class="d-flex justify-content-between ml-2">
                <a href="/" class="ml-2 mr-2 font-weight-bold navbar-link">Home</a> |
                <a href="/roster" class="ml-2 mr-2 font-weight-bold navbar-link">Roster</a> |
                <a href="/schedule" class="ml-2 mr-2 font-weight-bold navbar-link">Schedule</a> |
                <a href="#" class="ml-2 mr-2 font-weight-bold navbar-link">Merchandise</a>
            </div>
        </div>
        <div class="my-2 my-lg-0">
            <a href="/login" class="font-weight-bold navbar-link">Login</a>
        </div>
    </nav>

        <!--                                NAVBAR END                                                                         -->

        <!--                                TITLE AND BANNER IMAGE                                                                         -->

    <h3 class="d-flex justify-content-center mt-2 title">MACES WOLFPACK GIRLS BASKETBALL</h3>
    <div class="container">
        <div>
            <div class="banner d-flex justify-content-center">
                <img src="../static/images/banner.jpg" id="bannerImage">
            </div>
            <div class="banner-nav">
                <div class="different-banner"></div>
                <div class="different-banner" id="active"></div>
                <div class="different-banner"></div>
                <div class="different-banner"></div>
            </div>
        </div>
    
        <!--                                TITLE AND BANNER IMAGE END                                                                         -->
    
        <!--                                UPCOMING GAMES                                                                         -->

        <h4 class="d-flex justify-content-center mt-2 subtitle">UPCOMING GAMES</h4>
        <table class="d-flex justify-content-center mt-2">
            <tr>
                <td class="p-1"><div class="legend-home"></div></td>
                <td>Home</td>
                <td class="p-2"></td>
                <td class="p-1"><div class="legend-away"></div></td>
                <td>Away</td>
            </tr>
        </table>
        <div class="row">

            <div class="col">
                <div class="individual-game">
                    <img src="../static/images/logo2.png" alt="home">
                    <div class="individual-game-description">
                        <h3 class="title">Garfield</h3>
                        <div>
                            <h5>JV: 2:30</h5>
                            <h5>Varsity: 4:00</h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="individual-game-away">
                    <img src="../static/images/logo2.png" alt="home">
                    <div class="individual-game-description">
                        <h3 class="title">Garfield</h3>
                        <div>
                            <h5>JV: 2:30</h5>
                            <h5>Varsity: 4:00</h5>
                        </div>
                    </div>
                </div>
            </div>

            {% for game in games %}
    
                <div class="col">
                    {% if game.location == 'home' %}
                    <div class="individual-game">
                    {%else%}
                    <div class="individual-game-away">
                    {% endif %}
                        <img src="../static/images/logo2.png" alt="home">
                        <div class="individual-game-description">
                            <h3 class="title">{{game.opponent}}</h3>
                            <div>
                                <h5>{{game.level}}</h5>
                                <h5>{{game.time}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
    
            {% endfor %}
        </div>


        
        <!--                                UPCOMING GAMES END                                                                         -->
    </div>
</body>
</html>