<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../static/js/script.js" defer></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</head>
<body style="background-color: rgb(228, 228, 228);">
        <!--                                NAVBAR                                                                         -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white d-flex justify-content-between border-navy">
        <div class="d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="#"><img src="../static/images/logo.png" class="logo"></a>
            <div class="d-flex justify-content-between ml-2">
                <a href="/" class="ml-2 mr-2 font-weight-bold navbar-link">Home</a> |
                <a href="/roster" class="ml-2 mr-2 font-weight-bold navbar-link">Roster</a> |
                <a href="/schedule" class="ml-2 mr-2 font-weight-bold navbar-link">Schedule</a> |
                <a href="#" class="ml-2 mr-2 font-weight-bold navbar-link">Merchandise</a>
                {% if user != None %}
                    | <a href="/announcements" class="ml-2 mr-2 font-weight-bold navbar-link">Announcements</a> |
                    <a href="#" class="ml-2 mr-2 font-weight-bold navbar-link">Stats</a> 
                {% endif %}
            </div>
        </div>
        <div class="my-2 my-lg-0">
                {% if user != None %}
                <a href="/logout" class="font-weight-bold navbar-link">Logout</a>
                {% else %}
                <a href="/login" class="font-weight-bold navbar-link">Login</a>
                {% endif %}
        </div>
    </nav>

        <!--                                NAVBAR END                                                                         -->

        <!--                                TITLE                                                                         -->

    <h3 class="d-flex justify-content-center mt-2 title">STATISTICS</h3>
        <!--                                TITLE END                                                                         -->

    <div class="container">
        <h4 class="d-flex justify-content-center mt-3 mb-2 subtitle">TEAM STATS</h4>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Season
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                {% for season in seasons %}
                    <li><button class="dropdown-item" type="button" value="{{season.id}}" onclick="getStats('{{season.id}}')">{{season.start_year}}-{{season.end_year}}</button></li>
                {% endfor %}
            </ul>
        </div>
        <div class="d-flex justify-content-around align-items-center" id="team-stats">
            <div class="record mt-2">
                <p>Pts Per Game</p>
                <h3 id="team-ppg">{{ '{0:0.1f}'.format(team_stats.points) }}</h3>
            </div>
            <div class="record mt-2">
                <p>Reb Per Game</p>
                <h3 id="team-rpg">{{ '{0:0.1f}'.format(team_stats.rebounds) }}</h3>
            </div>
            <div class="record mt-2">
                <p>Ast Per Game</p>
                <h3 id="team-apg">{{ '{0:0.1f}'.format(team_stats.assists) }}</h3>
            </div>
            <div class="record mt-2">
                <p>Stl Per Game</p>
                <h3 id="team-spg">{{ '{0:0.1f}'.format(team_stats.steals) }}</h3>
            </div>
            <div class="record mt-2">
                <p>Blk Per Game</p>
                <h3 id="team-bpg">{{ '{0:0.1f}'.format(team_stats.blocks) }}</h3>
            </div>
            <div class="record mt-2">
                <p>TOs Per Game</p>
                <h3 id="team-tpg">{{ '{0:0.1f}'.format(team_stats.turnovers) }}</h3>
            </div>
            <div class="record mt-2">
                <p>FG%</p>
                {% if team_stats.made_shots == 0%}
                    <h3 id="team-fg">0.0%</h3>
                {% else %}
                    <h3 id="team-fg">{{ '{0:0.1f}'.format(team_stats.made_shots/team_stats.attempted_shots * 100) }}%</h3>
                {% endif %}
            </div>
            <div class="record mt-2">
                <p>FT%</p>
                <h3 id="team-ft">70.1%</h3>
            </div>
        </div>
        <h4 class="d-flex justify-content-center mt-3 mb-2 subtitle">PLAYER STATS</h4>
        <table class="table table-hover table-css">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Position</th>
                    <th>Points</th>
                    <th>Assists</th>
                    <th>Rebounds</th> 
                    <th>Steals</th>
                    <th>Blocks</th>
                    <th>Turnovers</th>
                    <th>FG %</th>
                    <th>FT %</th>
                </tr>
            </thead>
            <tbody id="stats-body">
                {% for player in players_stats %}
                    <tr>
                        <td>{{player.player.number}}</td>
                        <td>{{player.player.first_name}} {{player.player.last_name}}</td>
                        <td></td>
                        <td></td>
                        <td>{{ '{0:0.1f}'.format(player.points) }}</td>
                        <td>{{ '{0:0.1f}'.format(player.assists) }}</td>
                        <td>{{ '{0:0.1f}'.format(player.rebounds) }}</td>
                        <td>{{ '{0:0.1f}'.format(player.steals) }}</td>
                        <td>{{ '{0:0.1f}'.format(player.blocks) }}</td>
                        <td>{{ '{0:0.1f}'.format(player.turnovers) }}</td>
                        <td>{{ '{0:0.1f}'.format(player.made_shots/player.attempted_shots * 100) }}%</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>